/**
 * Base styles.
 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  padding: 50px 10%;
  text-align: center;
}

ol,
ul {
  list-style: none;
}

h1 {
  color: crimson;
  font-size: 2.3em;
  font-weight: 400;
  margin: 0 0 1.5em;
}


/**
 * Board container.
 */

.board {
  position: relative;
}

.board::after {
  content: "game over";
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.board.is-game-over::after {
  display: block;
}


/**
 * A board cell `button`.
 */

.board__cell {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #eee;
  border: 2px inset silver;
  border-left-color: gray;
  border-right-color: lightgray;
  border-bottom-color: whitesmoke;
  cursor: pointer;
  text-align: center;
  transition: all 0.15s;
}

.board__cell:hover,
.board__cell.is-active {
  background-color: crimson;
  color: white;
}

.board__cell.has-mine {
  background-color: hotpink;
}

.board__cell.is-empty-cell {
  border-color: #eee;
  border-style: solid;
  cursor: default;
}


/**
 * Board loader.
 */

.board__loader {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
}

.board.has-loaded .board__loader {
  opacity: 0;
}
