/**
 * Base styles.
 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  padding: 50px 10%;
  text-align: center;
}

ol,
ul {
  list-style: none;
}

h1 {
  color: crimson;
  font-size: 2.3em;
  font-weight: 400;
  margin: 0 0 1.5em;
}


/**
 * A board cell `button`.
 */

.board__cell {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #eee;
  border: 2px inset silver;
  border-left-color: gray;
  border-right-color: lightgray;
  border-bottom-color: whitesmoke;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  transition: all 0.15s;
}

.board__cell:hover,
.board__cell.is-active {
  background-color: crimson;
  color: white;
}