html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  width: 180px;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 0;
  border: 1px solid black;
}


/**
 * The box.
 */

.row {
  display: flex;
}

[class^="box"] {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border: 2px inset silver;
  border-left-color: gray;
  border-right-color: lightgray;
  border-bottom-color: whitesmoke;
  background-origin: content-box;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  transition: all 0.15s;
}

[class^="box"]:hover,
[class^="box"].is-active {
  background-color: hotpink;
  color: white;
}